# Fichiers à ignorer lors de la publication sur npm

# Dossiers
.idea/
.docs/
.vscode/
node_modules/
coverage/
test/
examples/
docs/

# Fichiers
*.log
*.mdx
*.yml
*.yaml
.editorconfig
.eslintrc*
.gitattributes
.gitignore
.npmignore
.prettierrc
*.test.js
*.spec.js

# Fichiers système
.DS_Store
Thumbs.db
